<h1>New Auction</h1>

<% form_for(@auction, :html => { :multipart => true }) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>
	<div class="field">
		<%= f.label :current_offer, "Starting offer" %><br />
		<%= f.text_field :current_offer %>
	</div>
	<div class="field">
		<%= f.label :photo, "Upload image" %><br />
		<%= f.file_field :photo %>
	</div>
	<div class="field">
		 <%= f.label :end_time, "Auction End Date/Time" %><br />
		 <%= f.datetime_select("end_time", 
								:use_month_numbers => true,
								:date_separator => '/',
								:order => [:month, :day, :year],
								:include_blank => true,
								:default => 7.days.from_now
		) %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
	
<% end %>